<h1>あなたの投稿</h1>
<table>
    <tr>
        <th>カテゴリー</th>
        <th>内容</th>
    </tr>
    <% @posts.each do |current_user_post| %>
        <tr>
            <td><%= current_user_post.category %></td>
            <td><%= current_user_post.body %></td>
            <td><%= link_to  "削除", post_path(current_user_post) , data: {turbo_method: :delete} %></td>
            <td><%= link_to  "編集", edit_post_path(current_user_post)%></td>
        </tr>
    <% end %>
</table>
<%= link_to "ログアウト", logout_path, data: {turbo_method: :delete} %>
