<div class="container mt-5">
  <h1 class="text-center mb-4">投稿一覧表示</h1>
  
  <div class="card p-4 mb-4">
    <%= form_with(scope: :search, url: posts_path, method: :get, local: true, class: "form-inline") do |f| %>
      <div class="row g-3">
        <div class="col-md-4">
          <%= f.label :category, "カテゴリー", class: "form-label" %>
          <%= f.select :category, [["身体面", "physical aspect"], ["精神面", "mental aspect"], ["生活面", "life aspect"], ["その他", "other"]],
                       include_blank: "選択して下さい", class: "form-select" %>
        </div>
        <div class="col-md-6">
          <%= f.label :word, "内容", class: "form-label" %>
          <%= f.text_area :word, class: "form-control", rows: 1 %>
        </div>
        <div class="col-md-2 d-flex align-items-end">
          <%= f.submit "検索する", class: "btn btn-primary w-100" %>
        </div>
      </div>
    <% end %>
  </div>
      <% if current_user.viewer? %>
    <div class="alert alert-warning mt-4" role="alert">
      <p class="mb-0">閲覧ユーザーのため投稿はできません。</p>
    </div>
  <% end %>

<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="first-column">ID</th>
        <th class="first-column">カテゴリー</th>
        <th class="first-column">投稿者名</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= category_in_japanese(post.category) %></td>

          <td><%= link_to post.user.name,block_user_path(post.user) %></td>
          

          
          <td><%= link_to post.body, post_path(post), class: "text-decoration-none"  if !current_user.viewer? %></td>
          <td><%= post.body if current_user.viewer? %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>