<p><%= @post.body %></p>
<%= form_with model: [@post, @comment],local: true do |f|%>
    <%= f.label :内容　%>
    <%= f.text_area :content %>
    <%= f.submit '投稿する' %>
<% end %>
<% @comments.each do |current_comment| %>
    <%= current_comment.content %>
<% end %>